body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fdf8ff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.perfil-container {
  max-width: 1200px;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-left: 120px;
  min-height: 600px;
}

/* === Encabezado === */
.perfil-header {
  position: relative;
  background-color: #c77dff;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.institucion {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 0.9rem;
}

.foto-container {
  position: absolute;
  bottom: -35px;
}

.foto {
  width: 150px;
  height: 150px;
  background: #fff;
  border: 2px solid #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #666;
}
.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%; 
  border: 2px solid #fff; 
}


/* === Información === */
.perfil-info {
  text-align: center;
  padding: 60px 20px 40px;
}

.campo {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 15px;
  margin: 10px;
  display: inline-block;
}

.nombre {
  margin-bottom: 20px;
  font-weight: 500;
}

/* === Grid de info === */
.info-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn-editar-container {
  margin-top: 20px; /* Espacio entre los datos y el botón */
}

.btn-editar {
  background: #9C67E0;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-editar:hover {
  background: #7B4AE2;
}

/* === Responsivo === */
@media (max-width: 900px) {
  .perfil-container {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .perfil-container {
    width: 100%;
    margin: 0;
    border-radius: 0;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto; /*scroll vertical */
    padding-bottom: 20px;
  }

  .perfil-header {
    height: 180px;
  }

  .foto {
    width: 80px;
    height: 80px;
    font-size: 0.9rem;
    margin-left: 60px;
  }

  .campo {
    width: 60%;
    font-size: 0.9rem;
    margin-left: 60px;
  }

  .institucion {
    font-size: 0.8rem;
  }

  .btn-editar {
    width: 50%;
    margin-left: 30px;
  }
}